* {
    box-sizing: border-box;
}
body {
    margin: 0%;
    padding: 0%;
}
h1 {
    margin: 0%;
    text-align: center;
}
.back {
    width: 5rem;
    height: 5rem;
    background-color: red;
    color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 5rem;
    right: 5rem;
}
.back:hover {
    cursor: pointer;
}
.gallery-cont {
    width: 100%;
    min-height: 100vh;
    padding: 1rem;
    background-color: black;
    color: white;
}
.media-cont-box {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.media-cont {
    width: 15rem;
    height: 15rem;
    margin: 2rem;
    border: 2px solid white;
}
.media {
    width: 100%;
    height: calc(100% - 2rem - 2rem);
    /* aspect-ratio: 4 / 3; */
    background-color: olivedrab;
}
.media>* {
    width: 100%;
    height: 100%;
}
.action-btn {
    height: 2rem;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.action-btn:hover {
    cursor: pointer;
}
.delete {
    background-color: red;
}
.download {
    background-color: black;
}